@import "tailwindcss";

@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/bebasneue/bebasneuebold.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/roboto/Robotobold.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/roboto/Robotolight.woff2") format("woff2");
}

@theme {
  --font-bebas: "Bebas Neue", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --page-bg: #1f2a32;
  --color-grey: #fafaf5;
  --color-accent: #ffd479;
  --container-6xl: 75rem;
}

:root {
  font-family: var(--font-bebas);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--page-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html,
body {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  background-color: var(--page-bg);
  font-family: var(--font-bebas);
  overflow-x: hidden;
}

@layer components {
  header {
    @apply absolute top-7.5 w-full;
  }

  nav {
    @apply flex justify-between;

    ul {
      @apply hidden md: flex items-center gap-[50px];

    }

    a {
      @apply font-bold;
      letter-spacing: 0.19em;
      text-align: right;
    }
  }

  #hero {
    @apply w-full h-[100svh] flex justify-end items-center;
    background-image: image-set(url('/img/hero/hero-bg.jpg') 1x,
        url('/img/hero/hero-bg@2x.jpg') 2x);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}